<form [formGroup]="form" (ngSubmit)="onSave()">
    <div>
        <label for="type">Tipo</label>
        <input type="text" name="type" id="type" formControlName="type">
    </div>
    <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" formControlName="description">
    </div>
    <button type="submit" [disabled]="!form.valid">Guardar</button>
</form>
<app-table [columns]="tableDiet" [rows]="rowsDiets" (dataActions)="actions($event)" />