<h2 class="fh5co-heading animate-box">Lista de animales</h2>
<div class="row animate-box" data-animate-effect="fadeInLeft">
    @for(row of rowsAnimal; track row){
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
            <a>
                <img [src]="'https://robohash.org/'+ row.id+ '.png?set=set4'" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <h3 class="fh5co-work-title">{{row.name}}</h3>
                <p>Familia: {{row.specie}}</p>
            </a>
        </div>
    }
    
</div>