<h1 id="fh5co-logo">Animales</h1>
<nav id="fh5co-main-menu">
    <ul>
        
        <li><a routerLink="/" >inicio</a></li>
        <li routerLinkActive="fh5co-active"><a routerLink="/animales" >Animales</a></li>
        <li routerLinkActive="fh5co-active"><a routerLink="/familia" >Familia</a></li>
        <li routerLinkActive="fh5co-active"><a routerLink="/habitat" >Hábitat</a></li>
        <li routerLinkActive="fh5co-active"><a routerLink="/tipo" >Tipo</a></li>
        <li routerLinkActive="fh5co-active"><a routerLink="/dieta" >Dieta</a></li>
    </ul>
</nav>