* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* el container se enfonca en que height ocupe el 100% y se divida en 3 fracciones a lo alto*/
.max-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
