table{
    width: 100%;
    border-collapse: collapse;
    tr{
        
        th, td{
            padding: 5px;
            border:1px solid black;
            button{
                background: none;
                border: none;
                cursor: pointer;
             img{
                width: 20px;
                height: auto;
            }   
            }
            
        }
    }
}