@if(_columns.length > 0){
<table>
    <thead>
        <tr>
            @for(column of _columns; track column){
            <th>
                {{column.label}}
            </th>
            }
            <th>acciones</th>
        </tr>
        
    </thead>
    <tbody>
        @for(row of _rows; track row){
        <tr>
            @for(column of _columns; track column){
            <td>
                {{row[column.value]}}
            </td>
            }
            <td class="actions">
                <button (click)="action(1, row)">
                    <img src="./icons/pencil.svg" alt="editar" class="">
                </button>
                <button (click)="action(0, row)">
                    <img src="./icons/trash.svg" alt="editar" class="">
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
}