table{
    width: 100%;
    border-collapse: collapse;
    tr{
        
        th, td{
            padding: 5px;
            border:1px solid black;
            button{
                background: none;
                border: none;
                cursor: pointer;
                padding: 0 20px;
             img{
                width: 20px;
                height: auto;
            }   
            }
            &.actions{
                text-align: center;
                width: 200px;
            }
        }
    }
}